[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.6.2"
numpy = "==1.22.3"
open3d = "==0.16.0"
opencv-python = "==4.6.0.66"
pandas = "==1.4.1"
pyntcloud = "*"
velodyne-decoder = "*"
pyshark = "*"
vtk = "*"
pg = {path = "./packages/Papoulis-Gerchberg/PG-0.1.tar.gz"}

[dev-packages]

[requires]
python_version = "3.8"
